.DS_Store
__pycache__/
*.py[cod]
.ipynb_checkpoints/

data/
runs/
outputs/
wandb/
*.log
*.aux
*.out
*.toc
*.synctex.gz

act_work/
tmp/
最终报告和建模文件以及图片/
/HW3_深度学习与空间智能.pdf

*.pt
*.pth
*.ckpt
*.safetensors
checkpoints/
pretrained_model/
